.keypad {
  background-color: var(--low-black);
  padding: 2rem;
  border-radius: .5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top: .1rem solid white;
  outline: none;
  position: absolute;
  bottom: 0%;
}

.keypad-row {
  display: flex;
  flex-direction: row;
  margin-left: -2rem;
}

.keypad-row:nth-child(5) {
  margin-bottom: -2rem;
}

.keypad-row:nth-child(1) .btn {
  color: #08e8de;
}

