.display {
    color: #363e3c;
    padding-right: 1.9rem;
    font-size: 3.95rem;
    width: 26rem;
    white-space: nowrap;
    overflow: hidden;
    border-left:1.9rem solid transparent;
    position: absolute;
    top:10%;
    text-align: left;
}

.main-display{
    align-items: center;
    vertical-align: center;
    display: flex;
    height: 6rem;
    background-color: #bcbd95;
    padding: 0 1rem;
    width: 100%;
    justify-content: flex-end;

}