@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,400&display=swap");

.App {
  text-align: center;
  display: grid;
  place-items: center;
  vertical-align: middle;
  height: 100vh;
}

:root {
  --lightest-grey: #dfdede;
  --light-grey: #bdbec0;
  --black: #060709;
  --low-black: #363e3c;
  --lower-black: #5d5f63;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100vh;
  background-color: var(--light-grey);
  font-size: 62.5%;
  font-weight: 500;
}
